    <div class="col-lg-4 col-md-6 col-sm-12">    
      {{/*  <div class="col-sm-6">
      <p>
        <em class="fa fa-cogs ico-blue fa-2x col-lg-2" style="color: #1a89d0">&nbsp;</em> 
        Only pay for the files you process
      </p>
    </div>
    <div class="col-sm-6">
      <p>
        <em class="fa fa-credit-card ico-blue fa-2x col-lg-2" style="color: #1a89d0">&nbsp;</em> 
        For each loading or creation of a document you are charged with one credit
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <p>
        <em class="fa fa-signal ico-blue fa-2x col-lg-2" style="color: #1a89d0">&nbsp;</em> 
        More discounted rates on large volumes
      </p>
    </div>
  </div>    */}}