{{ define "main" }}
{{- partial "header.html" . -}}
{{ with resources.GetRemote
"https://purchase-api.dynabic.com/v1.2/productFamily/site-groupdocs?isArchived=&pageNumber=&pageSize=&applyDisplayOrder=true&includeProducts=false"
}} {{ with .Err }} {{ warnf "%s" . }} {{ else }} {{ with .Content }} {{ with
transform.Unmarshal . }}
<!-- Fixed Top-Right Dropdown for All Screens -->
<div class="dropdown products-dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" id="productsDropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
      {{ i18n "jump-to" . }} {{ "👇" | emojify }}
  </button>
  <ul class="dropdown-menu" aria-labelledby="productsDropdownMenuButton">
      {{ range . }}
          {{ $split := split .Name " " }}
          {{ $splitName := index $split 0 }}
          <li><a class="dropdown-item" href="#{{ .Id }}">{{ $splitName }}</a></li>
      {{ end }}
  </ul>
</div>
<div class="container">
<div class="row">
  {{ range $q, $p := . }}
  <div class="col-xxl-3 col-lg-4 col-md-6 col-sm-12 d-flex">
    {{ if eq $q 0 }}
    <div class="card mt-3 mb-3 flex-fill my-special-card list-card" id="{{ .Id }}">
      <div class="card-flag">Most Popular (Bundle)</div>
      {{ else }}
    <div class="card mt-3 mb-3 flex-fill list-card" id="{{ .Id }}">
      {{ end }}
      <div class="card-body list-card-body">
        {{ $imgUrl := substr .SmallLogoImageSrc 2 }}
        <img
          class="product-icon"
          src="{{ printf "https://%s" $imgUrl }}"
          width="50"
          height="50"
          alt="{{ .Name }}"
        />
        {{ $split := split .Name " " }}
        {{ $splitName := index $split 0 }}
        {{ if eq $q 0 }}
        <h5 class="card-title suite-text"><strong>{{ $splitName }}</strong></h5>
        <p class="card-text suite-text">
            {{ $descc := print "desc-" "" .Name }}
            {{ i18n $descc . }}
        </p>
        <p class="card-text suite-text">
          {{ i18n "from" . }} 
        {{ else }}
        <h5 class="card-title"><strong>{{ $splitName }}</strong></h5>
        <p class="card-text">
            {{ $descc := print "desc-" "" .Name }}
            {{ i18n $descc . }}
        </p>
        <p class="card-text">
          {{ i18n "from" . }} 
          {{ end }}
          <br />
            {{ $name := .Name }}
            {{ $dataJ := getJSON "data/products.json" }}
            {{ range $dataJ }}
            {{ range .products }}
            {{ if eq .name $name }}
            {{ if eq $q 0 }}
            <strong style="font-size: x-large; color: white">${{ .price }}</strong>
            {{ else }}
            <strong style="font-size: x-large; color: black">${{ .price }}</strong>
            {{ end }}
            {{end}}
            {{end}}
            {{end}}
          <br />
        </p>

        <div class="dropdown">
          {{ if eq $q 0 }}
          <a
            class="btn btn-secondary suite-toggle dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            {{ i18n "choose-platform" . }}
          </a>
          {{ else }}
          <a
            class="btn btn-secondary dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            {{ i18n "choose-platform" . }}
          </a>
          {{ end }}

          <ul class="dropdown-menu">
            {{ $id := .Id }}
            {{ range $.Site.Pages }}
            {{ if eq .Params.FamilyId $id }}
            {{ if not (strings.Contains .Params.Name "Product Family") }}
            <li><a class="dropdown-item" href="{{ .RelPermalink }}">{{ .Params.Name }}</a></li>
            {{ end }}
            {{ end }}
            {{ end }}
          </ul>
          
        </div>

        {{ if eq $q 0 }}
        <div class="hr-or suite-hr">
          <span>{{ i18n "or" . }}</span>
        </div>
        {{ else }}
        <div class="hr-or">
          <span>{{ i18n "or" . }}</span>
        </div>
        {{ end }}
        
        {{ $url := print
          "https://purchase-api.dynabic.com/v1.2/productFamily/site-groupdocs/name-"
          "" .Name }} {{ with resources.GetRemote $url }} {{ with .Err }} {{
          warnf "%s" . }} {{ else }} {{ with .Content }} {{ with
          transform.Unmarshal . }}
        {{ range $i, $j := .Products }}
        {{ $prodName := .Name }}
        {{ range first 1 .PricingPlans }}
        {{ range .PaymentScheduleList }}
        {{ if strings.Contains $prodName "Family" }}
        {{if eq $q 0 }}
        <span style="font-size: xx-small; word-spacing: 0.01px; color: white;"
          >{{ i18n "getall" .}}
        </span>
        <br />
        <strong style="font-size: x-large; color: white">${{ .SubscriptionPeriodCharge }} </strong>
        {{ else }}
        <span style="font-size: xx-small; word-spacing: 0.01px; color: gray;"
          >{{ i18n "getall" .}}
        </span>
        <br />
        <strong style="font-size: x-large">${{ .SubscriptionPeriodCharge }} </strong>
        {{ end }}
        <div class="d-flex justify-content-center">
                    {{ range $.Site.RegularPages }}
            {{ if eq .Params.FamilyId $id }}
            {{ if eq $q 0 }}
          <a href="{{ .RelPermalink }}" class="btn btn-primary btn-lg suite-fam-pack-btn fam-pack-btn"
            ><span style="margin: auto">{{ i18n "select" . }}</span></a
          >
          {{ else }}
          <a href="{{ .RelPermalink }}" class="btn btn-primary btn-lg fam-pack-btn"
            ><span style="margin: auto">{{ i18n "select" . }}</span></a
          >
          {{ end }}
          {{ end }}{{ end }}
        </div>
        {{ else if eq $i 0 }}
        <span style="font-size: x-small; font-style:italic;">{{ i18n "only-supported" }}</span>
        <div class="d-flex justify-content-center">
                    {{ range $.Site.Pages }}
            {{ if eq .Params.FamilyId $id }}
          <a href="{{ .RelPermalink }}" class="btn btn-primary btn-lg fam-pack-btn"
            ><span style="margin: auto">{{ .Params.Name }}</span></a
          >
          {{ end }}{{ end }}
        </div>
        {{ end }}
        {{ end }}
        {{ end }}
        {{ end }}
        {{ end }} {{ end }}{{ end }}{{ end }}
        
      </div>
    </div>
  </div>
  {{ end }}
</div>
 <span>{{ i18n "note" .}} <strong>USD</strong> </span>
{{ end }}{{ end }}{{ end }}{{ end }}
<h2 class="mt-5">{{ i18n "knowledgebase" .}}</h2>
{{- range first 4 (where .Site.RegularPages "Type" "knowledgebase") -}}
<div class="card border-primary mb-3 article-card" onclick="window.location='{{ .RelPermalink }}';">
  <div class="card-body text-primary">
    <h5 class="card-title" style="color: black;">{{ .Params.Name }}</h5>
    <p class="card-text" id="card-text">{{ .Params.description }}</p>
  </div>
</div>
{{ end }}
<div class="text-center">
<a href="{{ .Site.BaseURL }}knowledgebase" class="btn btn-primary read-more">
    {{ i18n "read-more" . }}
</a>
  <hr style="margin-bottom: 15px; color:black">
  </div>
</div>
{{ end }}