.card {
    border: 0;
    box-shadow: 5px 10px 15px 5px rgba(0,0,0,0.1);
    height: 520px;
    padding: 2.2em 1.6rem;
    border-radius: 10px;
    margin-top: 1em;
    margin-bottom: 1em;
}
.my-special-card {
  border: 4px solid $primary;
    border-radius: 10px;
    //background: linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-size: 40px 40px;
    background-color: $primary;
    position: relative;
    padding: 20px;
    box-sizing: border-box;
}
.card-flag {
    position: absolute;
    font-size: 12px;
    top: -4px;
    left: 50%;
    width: 75%;
    transform: translateX(-50%);
    background-color: yellow;
    padding: 5px 10px;
    border-radius: 0px 0px 10px 10px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    word-spacing: .8px;
}
.my-special-card::before{
  content: "";
    position: absolute;
    top: -4px;
    left: -4px;
    bottom: -4px;
    right: -4px;
    z-index: -1;
    background: inherit;
    border-radius: inherit;
    background-clip: padding-box;
    border: 4px solid transparent;
}
.card:hover {
  box-shadow: 10px 20px 30px 10px rgba(0,0,0,0.1);
}
.plan-title {
    margin-bottom: 1.2em;
    height: 50px;
}
.license-note{
  margin-bottom: 15px !important;
}
.question-mark {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 5px;
  margin-right: 5px;
}
.fam-pack-btn{
    color: white;
    font-size: smaller;
    width: 75%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    border-radius: 35px;
    position: absolute;
    bottom: 0;
    margin-bottom: 3em;
    padding: 10px 0;
    border: 2px solid #FFFFFF !important;
}
.product-icon {
    //filter: grayscale(100%);
    margin-bottom: 15px;
    width: 40px !important;
    height: 40px !important;
    //opacity: 70%;
}
.card-text {
    font-size: x-small;
    height: 55px;
    color: gray;
}
.suite-text{
  color: white !important;
}
.dropdown-toggle {
  background-color: white !important; /* Changed background color */
  border-radius: 30px;
  border: 2px solid $primary !important; /* Bolder and changed border color */
  padding: 10px 20px;
  color: $primary !important; /* Changed text color to white */
  font-size: .8em; /* Increased font size */
  width: 100%;
  display: flex;
  align-items: center;
  margin: 0 auto;
  //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Added box shadow */
  transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transition for hover effect */
}

/* Hover effect */
.dropdown-toggle:hover {
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.3); /* Increase box shadow */
}
.suite-toggle{
  color: white !important;
  background-color: $primary !important;
  border: 2px solid white !important;
}
.suite-fam-pack-btn{
  background-color: #FFFFFF;
  color: $primary !important;
}
.suite-fam-pack-btn:hover{
  background-color: #FFFFFF;
  color: black !important;
}
.hr-or {
  position: relative;
  text-align: center;
  margin-top: 0.7em;
  margin-bottom: 0.3em;
  color: darkgray;
}
.hr-or::before,
.hr-or::after {
  content: "";
  position: absolute;
  top: 56%;
  width: 45%;
  border-top: 1px solid darkgray;
}
.suite-hr{
  color: white !important;
}
.suite-hr span{
  background-color: $primary !important;
}
.suite-hr::before,
.suite-hr::after{
  border-top: 1px solid white;
}
.hr-or::before {
  right: 55%;
}
.hr-or::after {
  left: 55%;
}
.hr-or span {
    position: relative;
    z-index: 1;
    background-color: white;
    padding: 0 0.5em;
    font-size: 13px;
}
.dropdown-menu {
  border: 0;
  border-radius: 10px;
  box-shadow: 5px 10px 15px 3px rgba(0,0,0,0.1);
}
.wrapper {
  display: flex;
  justify-content: center; /* center horizontally */
  align-items: center; /* center vertically */
  background-color: #f5f5f5;
  padding: 2px;
  border-radius: 30px;
}
#myTab .nav-link.active, #myTab .nav-link:hover {
  background-color: $primary;
  color: white;
}
.fam-pack-btn1 {
    color: white;
    font-size: small;
    width: 65%;
    margin: 0 auto;
    display: inline-block;
    height: 36px;
    line-height: 13px;
    vertical-align: middle;
    align-items: center;
    border-radius: 35px;
    margin-top: -10px;
}
.product-card {
    height: 515px;
    padding: 2rem 1rem;
}
.read-more{
  background-color: transparent;
  margin-top: 30px;
  margin-bottom: 15px;
}







