<div class="tab-pane fade" id="payperuse">
      <div class="row d-flex aligns-items-center justify-content-center">
            {{ with resources.GetRemote
    "https://purchase-api.dynabic.com/v1.2/productFamily/site-groupdocs?isArchived=&pageNumber=&pageSize=&applyDisplayOrder=true&includeProducts=false"
    }} {{ with .Err }} {{ warnf "%s" . }} {{ else }} {{ with .Content }} {{ with
    transform.Unmarshal . }} {{ range . }} {{ $url := print
    "https://purchase-api.dynabic.com/v1.2/productFamily/site-groupdocs/name-" ""
    .Name }} {{ with resources.GetRemote $url }} {{ with .Err }} {{ warnf "%s" .
    }} {{ else }} {{ with .Content }} {{ with transform.Unmarshal . }} {{ range
    .Products }} {{ $id := .Id }} {{ if eq $id $.Page.Params.Id }} {{ range
    .PricingPlans }} {{ if not (or (strings.Contains .Name "Old Subscription") (lt .DisplayOrder 0)) }} {{
    $name := .Name }} {{ $ppId := .Id }} 
        {{ if strings.Contains $name "Metered" }}
        <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card text-center" style="margin:0 auto; height:580px; margin-bottom:2em;">
        <div class="card-body">
          <h5 class="card-title"><strong>{{ $name }}</strong></h5>
          {{ if eq $.Site.LanguageCode "en" }}
          <p style="font-size: x-small; color: grey;" class="license-note">{{ .LicenseNote }}</p>
          {{ end }}
          {{ i18n "estimate" . }}
          <a href="{{ $.Site.BaseURL | relLangURL }}/metered-pricing/{{ $name | urlize }}">
          {{ i18n "simulator" .}}</a><br>
          {{ range .PaymentScheduleList }}
          {{ i18n "from" . }}
          <h2 class="display-4" style="margin: 12px 0">${{ .SubscriptionPeriodCharge }}<sub style="font-size: 30%; vertical-align: baseline;">/{{ i18n "month" . }}</sub></h2>
          {{ end }}
          <p style="font-size: small"><a href="https://forum.groupdocs.com">{{ i18n "with-free-support" . }}</a></p>
          {{ $linkUrl := print "https://purchase.groupdocs.com/buy/cart?ppId=" ""
          $ppId }}
          
          <hr />
          {{ range .PaymentScheduleList }} {{ $SubCharges :=
          .SubscriptionPeriodCharge }}
          {{ with resources.GetRemote "https://purchase-api.dynabic.com/v1.2/productFamily/site-groupdocs/name-support" }} {{ with .Err }} {{ warnf "%s" .
    }} {{ else }} {{ with .Content }} {{ with transform.Unmarshal . }} {{ range $index, $value :=
    .Products }}
        {{ $supportName := .Name }}
        {{ range $i, $j := .PricingPlans }}
        {{ if strings.Contains .Name "Metered" }}
        {{ if eq $name .Name }}
        {{ range .PaymentScheduleList }}
        {{ if not (eq (int .Id) 94688)}}
        {{/*  {{ i18n "from" . }}
        <h3 style="margin: 0;">${{ $SubCharges }}/{{ i18n "month" . }}</h3>
        <p style="margin: 0; color: green; font-size:medium">+{{ .SubscriptionPeriodCharge }}/{{ i18n "year" . }} </p>
        <p style="font-size: small;"><a href="https://helpdesk.groupdocs.com">{{ i18n "with-paid-support" . }}</a></p>
        {{ $linkUrlwPaidSupport := print "https://purchase.groupdocs.com/buy/cart?ppId=" ""
          $ppId "&paidSupport=true" }}
        <a class="btn btn-primary btn-lg fam-pack-btn1 d-flex justify-content-center align-items-center" href="{{ $linkUrlwPaidSupport }}" target="_blank"
            ><span style="margin: auto">{{ i18n "select-only" . }}</span></a
          >  */}}
          <div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="checkSupport_{{ $ppId }}" value="" data-pp-id="{{ $ppId }}" data-base-price="{{ $SubCharges }}" data-support-price="{{ .SubscriptionPeriodCharge }}">
  <label class="form-check-label" for="checkSupport_{{ $ppId }}">
    Add Paid Support
  </label>
</div>
          <hr />
          <div class="form-check mb-4">
  <input class="form-check-input" type="checkbox" value="" id="checkConsulting_{{ $ppId }}" value="" data-pp-id="{{ $ppId }}" data-base-price="{{ $SubCharges }}" data-support-price="5999">
  <label class="form-check-label" for="checkConsulting_{{ $ppId }}">
    Add Paid Consulting
  </label>
</div> 
Total price: $<span style="text-decoration: underline;" id="totalPrice_{{ $ppId }}">{{ $SubCharges }}</span>
        {{ end }}{{ end }}{{ end }}{{ end }}{{ end }}{{ end }}{{ end }}
    {{ end }}{{ end }}{{ end }}
    {{/*  {{ i18n "from" . }}
    <h3 style="margin: 0;">${{ .SubscriptionPeriodCharge }}/{{ i18n "month" . }}</h3>
    <div class="wrapper">
    <p style="color: green; font-size: large; margin: 0;">+$5999</p>
    <p style="font-size: x-small; color: grey; margin: 0; margin-left: .3em;">{{ i18n "per-developer-per-month" . }}</p>
    </div>
    <p style="font-size: small"><a href="https://consulting.groupdocs.com">{{ i18n "with-paid-consulting" . }}</a></p>
    {{ $linkUrlwPaidConsulting := print "https://purchase.groupdocs.com/buy/cart?ppId=" ""
          $ppId "&paidConsulting=true" }}
        <a class="btn btn-primary btn-lg fam-pack-btn1 d-flex justify-content-center align-items-center" href="{{ $linkUrlwPaidConsulting }}" target="_blank"
            ><span style="margin: auto">{{ i18n "select-only" . }}</span></a
          >  */}}
    

<a class="btn btn-primary btn-lg fam-pack-btn1 d-flex justify-content-center align-items-center mt-4" href="{{ $linkUrl }}" target="_blank" id="myLink_{{ $ppId }}"
            ><span style="margin: auto">{{ i18n "select-only" . }}</span></a
          >
    {{ end }}  
     
        </div>
      </div>
      </div>
        {{ end }}{{ end }}{{ end }}{{ end }}{{ end }}{{ end }}
    {{ end }}{{ end }}{{ end }}{{ end }}{{ end }}{{ end }}{{ end }}{{ end }}
      </div>
      {{ partial "comp-table2" . }}
  <span>{{ i18n "note" .}} <strong>USD</strong> </span>
</div>



    </div>