<link href="https://cms.admin.containerize.com/templates/aspose/css/licensing.css" rel="stylesheet" type="text/css">
<link href="https://cms.admin.containerize.com/templates/aspose/css/TabContainer.css" rel="stylesheet" type="text/css">
<link href="https://cms.admin.containerize.com/templates/aspose/css/tooltip.css" rel="stylesheet" type="text/css">
<div class="clearAll">&nbsp;</div>
<div class="cloudtablesmall">
<table cellspacing="0" cellpadding="0">
<tbody>
<tr>
<th>Description</th>
<th style="text-align: center;"><span style="text-decoration: underline;"><a style="color: white; text-decoration: underline;" href="/policies/license-types#DeveloperSmallBusiness" rel="alternate">Developer Small Business</a></span></th>
<th style="text-align: center;"><span style="text-decoration: underline;"><a style="color: white; text-decoration: underline;" href="/policies/license-types#DeveloperOEM">Developer OEM</a></span></th>
<th style="text-align: center;"><span style="text-decoration: underline;"><a style="color: white; text-decoration: underline;" href="/policies/license-types#SiteSmallBusiness">Site Small Business</a></span></th>
<th style="text-align: center;"><span style="text-decoration: underline;"><a style="color: white; text-decoration: underline;" href="/policies/license-types#SiteOEM">Site OEM</a></span></th>
<th style="text-align: center;"><span style="text-decoration: underline;"><a style="color: white; text-decoration: underline;" href="/policies/license-types#MeteredSmallBusiness">Metered Small Business</a></span></th>
<th style="text-align: center;"><span style="text-decoration: underline;"><a style="color: white; text-decoration: underline;" href="/policies/license-types#MeteredOEM">Metered OEM</a></span></th>
</tr>
<tr>
<td>
<div>
<div id="content">
<p style="display: inline;">Developers licensed</p>
<div class="help-tip" style="display: inline-block; z-index: 15;">
<p><b>Developer:</b> a Developer might be a software developer, a systems administrator, report author or any other person who uses the product. Each developer working with GroupDocs products needs to be licensed.<br><br></p>
</div>
</div>
</div>
</td>
<td style="text-align: center;">
<p><b>1</b></p>
</td>
<td style="text-align: center;">
<p><b>1</b></p>
</td>
<td style="text-align: center;">
<p><b>10</b></p>
</td>
<td style="text-align: center;">
<p><b>10</b></p>
</td>
<td style="text-align: center;">
<p><b>∞</b></p>
</td>
<td style="text-align: center;">
<p><b>∞</b></p>
</td>
</tr>
<tr>
<td>
<div>
<div id="content">
<p style="display: inline;">Use end user software at locations</p>
<div class="help-tip" style="display: inline-block; z-index: 14;">
<p><b>Location:</b> A Location is the physical location where a derived work is used; each distinct address or office building, within or outside an organization.<br><br><b>End User Software:</b> a software program, site, report builder or any other solution, work or product that links to GroupDocs products.<br><br></p>
</div>
</div>
</div>
</td>
<td style="text-align: center;">
<p><b>1</b></p>
</td>
<td style="text-align: center;">
<p><b>∞</b></p>
</td>
<td style="text-align: center;">
<p><b>10</b></p>
</td>
<td style="text-align: center;">
<p><b>∞</b></p>
</td>
<td style="text-align: center;">
<p><b>∞</b></p>
</td>
<td style="text-align: center;">
<p><b>∞</b></p>
</td>
</tr>
<tr>
<td>
<div>
<div id="content" style="margin: 0px -40px 0px 0px;">
<p style="display: inline;">For use with web sites/apps</p>
<div class="help-tip" style="display: inline-block; z-index: 13;">
<p>Allows distribution of end user software to public facing websites/applications, extranets, multi-site intranets or SaaS project usage scenarios.<br><br></p>
</div>
</div>
</div>
</td>
<td style="text-align: center;">&nbsp;</td>
<td style="text-align: center;">
<p><img alt="" data-src="https://cms.admin.containerize.com/templates/groupdocs/img/check-green.png" class=" lazyloaded" src="https://cms.admin.containerize.com/templates/groupdocs/img/check-green.png"></p>
</td>
<td style="text-align: center;">&nbsp;</td>
<td style="text-align: center;">
<p><img alt="" data-src="https://cms.admin.containerize.com/templates/groupdocs/img/check-green.png" class=" lazyloaded" src="https://cms.admin.containerize.com/templates/groupdocs/img/check-green.png"></p>
</td>
<td style="text-align: center;">
<p>&nbsp;</p>
</td>
<td style="text-align: center;">
<p><img alt="" data-src="https://cms.admin.containerize.com/templates/groupdocs/img/check-green.png" class=" lazyloaded" src="https://cms.admin.containerize.com/templates/groupdocs/img/check-green.png"></p>
</td>
</tr>
<tr>
<td>
<div>
<div id="content" style="margin: 0px -40px 0px 0px;">
<p style="display: inline;">Allows external distribution</p>
<div class="help-tip" style="display: inline-block; z-index: 12;">
<p>Allows distribution of end user software to third parties (e.g linked with software sold to others).<br><br></p>
</div>
</div>
</div>
</td>
<td style="text-align: center;">&nbsp;</td>
<td style="text-align: center;">
<p><img alt="" data-src="https://cms.admin.containerize.com/templates/groupdocs/img/check-green.png" class=" lazyloaded" src="https://cms.admin.containerize.com/templates/groupdocs/img/check-green.png"></p>
</td>
<td style="text-align: center;">&nbsp;</td>
<td style="text-align: center;">
<p><img alt="" data-src="https://cms.admin.containerize.com/templates/groupdocs/img/check-green.png" class=" lazyloaded" src="https://cms.admin.containerize.com/templates/groupdocs/img/check-green.png"></p>
</td>
<td style="text-align: center;">
<p>&nbsp;</p>
</td>
<td style="text-align: center;">
<p><img alt="" data-src="https://cms.admin.containerize.com/templates/groupdocs/img/check-green.png" class=" lazyloaded" src="https://cms.admin.containerize.com/templates/groupdocs/img/check-green.png"></p>
</td>
</tr>
<tr>
<td>
<div>
<div id="content">
<p style="display: inline;">Use in a development library, API or SDK</p>
<div class="help-tip" style="display: inline-block; z-index: 10;">
<p>If you produce software with an API for other developers to use then this applies to you. <a href="/policies/use-within-public-sdk-or-api">Further details</a><br><br></p>
</div>
</div>
</div>
</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td style="text-align: center;">
<p><img alt="" data-src="https://cms.admin.containerize.com/templates/groupdocs/img/check-green.png" class=" lazyloaded" src="https://cms.admin.containerize.com/templates/groupdocs/img/check-green.png"></p>
</td>
<td style="text-align: center;">
<p><img alt="" data-src="https://cms.admin.containerize.com/templates/groupdocs/img/check-green.png" class=" lazyloaded" src="https://cms.admin.containerize.com/templates/groupdocs/img/check-green.png"></p>
</td>
</tr>
<tr>
<td>
<div>
<div id="content">
<p style="display: inline;">License type</p>
<div class="help-tip" style="display: inline-block; z-index: 9;">
<p><b>Perpetual:</b> The license to use the product does not expire. <br><br><b>Metered:</b> Billed based on usage.<br><br></p>
</div>
</div>
</div>
</td>
<td style="text-align: center;">
<p><b>Perpetual</b></p>
</td>
<td style="text-align: center;">
<p><b>Perpetual</b></p>
</td>
<td style="text-align: center;">
<p><b>Perpetual</b></p>
</td>
<td style="text-align: center;">
<p><b>Perpetual</b></p>
</td>
<td style="text-align: center;">
<p><b>Metered</b></p>
</td>
<td style="text-align: center;">
<p><b>Metered</b></p>
</td>
</tr>
<tr>
<td>
<div>
<div id="content">
<p style="display: inline;">Updates and hotfixes for one year</p>
<div class="help-tip" style="display: inline-block; z-index: 8;">
<p>A purchase includes a subscription which entitles you to one year of product updates. <br><br>When the year has passed you are still licensed to use to the product so your existing applications that use GroupDocs will continue to function but to download and use further updates to the product you first have to renew your subscription. <a href="/policies/subscriptions">Learn more</a> <br><br> Note: Metered licenses are always up to date.<br><br></p>
</div>
</div>
</div>
</td>
<td style="text-align: center;">
<p><img alt="" data-src="https://cms.admin.containerize.com/templates/groupdocs/img/check-green.png" class=" lazyloaded" src="https://cms.admin.containerize.com/templates/groupdocs/img/check-green.png"></p>
</td>
<td style="text-align: center;">
<p><img alt="" data-src="https://cms.admin.containerize.com/templates/groupdocs/img/check-green.png" class=" lazyloaded" src="https://cms.admin.containerize.com/templates/groupdocs/img/check-green.png"></p>
</td>
<td style="text-align: center;">
<p><img alt="" data-src="https://cms.admin.containerize.com/templates/groupdocs/img/check-green.png" class=" lazyloaded" src="https://cms.admin.containerize.com/templates/groupdocs/img/check-green.png"></p>
</td>
<td style="text-align: center;">
<p><img alt="" data-src="https://cms.admin.containerize.com/templates/groupdocs/img/check-green.png" class=" lazyloaded" src="https://cms.admin.containerize.com/templates/groupdocs/img/check-green.png"></p>
</td>
<td style="text-align: center;">
<p><img alt="" data-src="https://cms.admin.containerize.com/templates/groupdocs/img/check-green.png" class=" lazyloaded" src="https://cms.admin.containerize.com/templates/groupdocs/img/check-green.png"></p>
</td>
<td style="text-align: center;">
<p><img alt="" data-src="https://cms.admin.containerize.com/templates/groupdocs/img/check-green.png" class=" lazyloaded" src="https://cms.admin.containerize.com/templates/groupdocs/img/check-green.png"></p>
</td>
</tr>
<tr>
<td>
<div>
<div id="content">
<p style="display: inline;">Can be used to create unlimited applications</p>
<div class="help-tip" style="display: inline-block; z-index: 7;">
<p>There are no limits to the number of applications that you create with GroupDocs products.<br><br></p>
</div>
</div>
</div>
</td>
<td style="text-align: center;">
<p><img alt="" data-src="https://cms.admin.containerize.com/templates/groupdocs/img/check-green.png" class=" lazyloaded" src="https://cms.admin.containerize.com/templates/groupdocs/img/check-green.png"></p>
</td>
<td style="text-align: center;">
<p><img alt="" data-src="https://cms.admin.containerize.com/templates/groupdocs/img/check-green.png" class=" lazyloaded" src="https://cms.admin.containerize.com/templates/groupdocs/img/check-green.png"></p>
</td>
<td style="text-align: center;">
<p><img alt="" data-src="https://cms.admin.containerize.com/templates/groupdocs/img/check-green.png" class=" lazyloaded" src="https://cms.admin.containerize.com/templates/groupdocs/img/check-green.png"></p>
</td>
<td style="text-align: center;">
<p><img alt="" data-src="https://cms.admin.containerize.com/templates/groupdocs/img/check-green.png" class=" lazyloaded" src="https://cms.admin.containerize.com/templates/groupdocs/img/check-green.png"></p>
</td>
<td style="text-align: center;">
<p><img alt="" data-src="https://cms.admin.containerize.com/templates/groupdocs/img/check-green.png" class=" lazyloaded" src="https://cms.admin.containerize.com/templates/groupdocs/img/check-green.png"></p>
</td>
<td style="text-align: center;">
<p><img alt="" data-src="https://cms.admin.containerize.com/templates/groupdocs/img/check-green.png" class=" lazyloaded" src="https://cms.admin.containerize.com/templates/groupdocs/img/check-green.png"></p>
</td>
</tr>
<tr>
<td>
<div>
<div id="content">
<p style="display: inline;">Discount applied to multiple purchases</p>
<div class="help-tip" style="display: inline-block; z-index: 6;">
<p>Purchase multiple licenses and receive a discount. <a href="/order-online-step-1-of-8.aspx">Get a quote</a><br><br>Metered licenses contain in-built discounts as adding extra developers does not increase costs. <a href="/faqs/licensing/metered">Learn more</a> <br><br></p>
</div>
</div>
</div>
</td>
<td style="text-align: center;">
<p><img alt="" data-src="https://cms.admin.containerize.com/templates/groupdocs/img/check-green.png" class=" lazyloaded" src="https://cms.admin.containerize.com/templates/groupdocs/img/check-green.png"></p>
</td>
<td style="text-align: center;">
<p><img alt="" data-src="https://cms.admin.containerize.com/templates/groupdocs/img/check-green.png" class=" lazyloaded" src="https://cms.admin.containerize.com/templates/groupdocs/img/check-green.png"></p>
</td>
<td style="text-align: center;">
<p><img alt="" data-src="https://cms.admin.containerize.com/templates/groupdocs/img/check-green.png" class=" lazyloaded" src="https://cms.admin.containerize.com/templates/groupdocs/img/check-green.png"></p>
</td>
<td style="text-align: center;">
<p><img alt="" data-src="https://cms.admin.containerize.com/templates/groupdocs/img/check-green.png" class=" lazyloaded" src="https://cms.admin.containerize.com/templates/groupdocs/img/check-green.png"></p>
</td>
<td style="text-align: center;">
<p><img alt="" data-src="https://cms.admin.containerize.com/templates/groupdocs/img/check-green.png" class=" lazyloaded" src="https://cms.admin.containerize.com/templates/groupdocs/img/check-green.png"></p>
</td>
<td style="text-align: center;">
<p><img alt="" data-src="https://cms.admin.containerize.com/templates/groupdocs/img/check-green.png" class=" lazyloaded" src="https://cms.admin.containerize.com/templates/groupdocs/img/check-green.png"></p>
</td>
</tr>
<tr>
<td>
<div>
<div id="content">
<p style="display: inline;">Free technical support</p>
<div class="help-tip" style="display: inline-block; z-index: 5;">
<p>Receive free technical support before purchase or even if your maintenance subscription has expired. <br><br> Note that free support included with a license is different from paid support which is an optional additional purchase. Check out the <a href="https://helpdesk.groupdocs.com/kb/faq.php?id=1">paid support options</a><br><br></p>
</div>
</div>
</div>
</td>
<td style="text-align: center;">
<p><img alt="" data-src="https://cms.admin.containerize.com/templates/groupdocs/img/check-green.png" class=" lazyloaded" src="https://cms.admin.containerize.com/templates/groupdocs/img/check-green.png"></p>
</td>
<td style="text-align: center;">
<p><img alt="" data-src="https://cms.admin.containerize.com/templates/groupdocs/img/check-green.png" class=" lazyloaded" src="https://cms.admin.containerize.com/templates/groupdocs/img/check-green.png"></p>
</td>
<td style="text-align: center;">
<p><img alt="" data-src="https://cms.admin.containerize.com/templates/groupdocs/img/check-green.png" class=" lazyloaded" src="https://cms.admin.containerize.com/templates/groupdocs/img/check-green.png"></p>
</td>
<td style="text-align: center;">
<p><img alt="" data-src="https://cms.admin.containerize.com/templates/groupdocs/img/check-green.png" class=" lazyloaded" src="https://cms.admin.containerize.com/templates/groupdocs/img/check-green.png"></p>
</td>
<td style="text-align: center;">
<p><img alt="" data-src="https://cms.admin.containerize.com/templates/groupdocs/img/check-green.png" class=" lazyloaded" src="https://cms.admin.containerize.com/templates/groupdocs/img/check-green.png"></p>
</td>
<td style="text-align: center;">
<p><img alt="" data-src="https://cms.admin.containerize.com/templates/groupdocs/img/check-green.png" class=" lazyloaded" src="https://cms.admin.containerize.com/templates/groupdocs/img/check-green.png"></p>
</td>
</tr>
</tbody>
</table>
</div>
<div class="clearAll">&nbsp;</div>